
body {
background-image: linear-gradient(silver, #545454);
}

.darkgrey {
 color: #303030;
}

.hand {
 font-family: "lucida handwriting", "Courier New", monospace;
}
/*-------------------------------Borders---------------------------------*/

.outset {
 border-style: outset;
 border-color: dimgrey;
 border-width: 5px;
}

.outset1 {
 border-style: outset;
 border-color: dimgrey;
 border-width: 15px;
}

.inset {
 border-style: inset;
 border-color: royalblue;
 border-width: 10px;
}

.bevel {
 border-style: be

.font25 {
 font-size: 25px;
}

.grey {
 background-color: #303030;
}

.navbar {
    font-family:Verdana !important; }

/* Modify brand and text color */
.navbar-brand
{
  font-size: 6em !important;
}

/*-------------change color of non-active pill---------------------*/
.nav-pills .pill-2 .nav-link:not(.active) {
 background-color: #282828;
 color: white;
}

/*change color of active pill */
.nav-pills .pill-1 .nav-link {
 background-color: #101010;
 color: white;
}

.font18 {
font-size: 18px;
}

.offwhite {
font-color: #E0E0E0;
}

.font25
font-size: 25px;
}

.font60
font-size: 60px !important;
}



.margin{
 margin-left: -350px;

}
.margin1 {
 margin-left: -150px;
}

.px-2 {
  padding-left: ($spacer * 50) !important;
  padding-right: ($spacer * 10) !important;
}

.px-right {
  padding-left: ($spacer * 5) !important;

}
.b {
  flex: 1;
  text-align: right;
}

.box {
  display: flex;
  align-items: right;
  justify-content: right;
}
.boxdiv {
  width: auto;
  height: auto;
}

.ml-auto {
    margin-left: auto !important;
}

.color-me {
    color: greenyello
}

