{% extends "base.html" %}
{% block content %}

    <!-----------------------------------Carousel----------------------------------->
    <div class="container-fluid">
        <div class="row mb-2">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item outset active">
                        <a href="{{ url_for('simple_pages.show', page="page1") }}">
                            <img src="{{ url_for('static', filename='images/GitHub.png') }}" class="d-block w-100"
                                 alt="...">
                        </a></div>
                    <div class="carousel-item outset">
                        <a href="{{ url_for('simple_pages.show', page="page3") }}">
                            <img src="{{ url_for('static', filename='images/flask.png') }}" class="d-block w-100"
                                 alt="...">
                        </a>
                    </div>
                    <div class="carousel-item outset">
                        <a href="{{ url_for('simple_pages.show', page="page2") }}">
                            <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100"
                                 alt="...">
                        </a></div>
                    <div class="carousel-item outset">
                        <a href="{{ url_for('simple_pages.show', page="page4") }}">
                            <img src="{{ url_for('static', filename='images/CI-CD.png') }}" class="d-block w-100"
                                 alt="...">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="outset mb-2 contbcgrd justify-content-center"><h5 class="px-2">My name is Diana Zawislak - NJIT
            student</h5>
            <p class="ml-5 py-1 px-2">I am currently pursuing Master Certificate in Computer Science at New Jersey
                Institute of
                Technology to
                supplement Bachelor degree in Finance from Walsh College in Detroit, MI.
                I am a detail oriented programmer constantly exploring DevOps, frontend,
                backend as well
                as UI/UX. I have successfully completed Linux training provided by The Linux Foundation as well as UI/UX
                course by Google in addition to my formal education. This website as well as <a
                        href="https://github.com/DianaZawislak/Docker_Git_Github_Info_Website" target="_blank">this git
                    repository </a>
                represent my skills in technologies fundamental to successful Web Development.
                <a href="https://www.linkedin.com/in/dianazawislak1980/"
                   target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="grey"
                         class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
                    </svg>
                </a>
                <a href="https://github.com/DianaZawislak" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-github"
                         viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>
            </p>
        </div>

    </div>
    <!-----------------------------------CARDS----------------------------------->

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card text-white bg-secondary">
                    <div class="card-header">
                        Git an GitHub
                    </div>
                    <div class="card-body">
                        <p class="card-text">Visit link below to explore GitHub</p>
                        <a href="https://github.com/" class="card-link darkgrey" target="_blank">https://github.com/</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card text-white bg-secondary">
                    <div class="card-header">
                        Docker and DockerHub
                    </div>
                    <div class="card-body">
                        <p class="card-text font18">Visit link below to explore Docker</p>
                        <a href="https://www.docker.com/" class="card-link darkgrey" target="_blank">https://www.docker.com/</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card text-white bg-secondary">
                    <div class="card-header">
                        Python and Flask
                    </div>
                    <div class="card-body">
                        <p class="card-text font18 ">Visit link below to explore Python</p>
                        <a href="https://www.python.org/" class="card-link darkgrey" target="_blank">https://www.python.org/</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
                <div class="card text-white bg-secondary">
                    <div class="card-header">
                        CI/CD
                    </div>
                    <div class="card-body">
                        <p class="card-text font18">Visit link below to explore CI/CD</p>
                        <a href="https://docs.gitlab.com/ee/ci/introduction/" target="_blank"
                           class="card-link darkgrey">https://docs.gitlab.com/ee/ci/introduction/</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}