{% extends "base.html" %}
{% block content %}

<!-----------------------------------Carousel----------------------------------->
   <div class="container-fluid">
    <div class="row mb-2">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
             <div>

  </div>
            <div class="carousel-inner">
                <div class="carousel-item outset active">
                    <a href="{{ url_for('simple_pages.show', page="page1")}}">
                    <img src="{{ url_for('static', filename='images/GitHub.png') }}" class="d-block w-100" alt="...">
                    </a></div>
                <div class="carousel-item outset">
                    <a href="{{ url_for('simple_pages.show', page="page3")}}">
                    <img src="{{ url_for('static', filename='images/flask.png') }}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item outset">
                    <a href="{{ url_for('simple_pages.show', page="page2")}}">
                    <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100" alt="...">
                </a></div>
                <div class="carousel-item outset">
                    <a href="{{ url_for('simple_pages.show', page="page4")}}">
                    <img src="{{ url_for('static', filename='images/CI-CD.png') }}" class="d-block w-100" alt="...">
                </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
   </div>


    <!-----------------------------------CARDS----------------------------------->

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    Git an GitHub
                </div>
                <div class="card-body">
                    <p class="card-text">Visit link below to explore GitHub</p>
                    <a href="https://github.com/" class="card-link darkgrey" target="_blank">https://github.com/</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    Docker and DockerHub
                </div>
                <div class="card-body">
                    <p class="card-text font18">Visit link below to explore Docker</p>
                    <a href="https://www.docker.com/" class="card-link darkgrey" target="_blank" >https://www.docker.com/</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    Python and Flask
                </div>
                <div class="card-body">
                    <p class="card-text font18 ">Visit link below to explore Python</p>
                    <a href="https://www.python.org/" class="card-link darkgrey" target="_blank">https://www.python.org/</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card text-white bg-secondary">
                <div class="card-header">
                    CI/CD
                </div>
                <div class="card-body">
                    <p class="card-text font18">Visit link below to explore CI/CD</p>
                    <a href="https://docs.gitlab.com/ee/ci/introduction/" target="_blank" class="card-link darkgrey">https://docs.gitlab.com/ee/ci/introduction/</a>
                </div>

            </div>

            </div>
        </div>
</div>

{% endblock %}