{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <img src="{{ url_for('static', filename='images/flask_python.png') }}" class="img-fluid" alt="flask_python">
    </div>
    <div class="container-fluid py-3"><h4><u>What is Pytest?</u></h4>
        <p class="fs-5"><span class="fs-3">P</span>yTest is a testing framework that allows users to write test codes
            using Python programming language. It helps you to write simple and scalable test cases for databases, APIs,
            or UI. PyTest is mainly used for writing tests for APIs. It helps to write tests from simple unit tests to
            complex functional tests.
            <br>Here is a link to git file containing pytest of pages of this Website
            <a href="https://github.com/DianaZawislak/Docker_Git_Github_Info_Website/blob/master/tests/simple_pages_test.py">PYTEST OF PAGES OF THIS WEBSITE</a></br>
        </p>

<div class="card overflow-auto" style="width: 18rem; height: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
     <img src="{{ url_for('static', filename='images/test.jpeg') }}" class="card-img-top" alt="test">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
{% endblock %}