{% extends "base.html" %}
{% block content %}

        <img src="{{ url_for('static', filename='images/testsbanner.png') }}" class="img-fluid" alt="testsbanner">


    <div class="container-fluid">
        <h4 class="neonblue"><u>What is Pytest?</u></h4>️ ️
        <p class="fs-20 mt--2"><span class="fs-4">P</span>ytest is the framework that makes it easy to write, test, and scale
            to support complex testing for the applications and libraries. It is the most popular Python package for
            testing. The basis for a rich ecosystem of testing is plugins and extensions.

            The way pytest is designed is as a very extensible system, easy to write plugins and there are a lot of
            plugins present in the pytest that are used for various purposes. Testing is very important before
            delivering the code in production.</p>
        <h5>Features Of pytest</h5>
        <li>
            Does not require API to use.
        </li>
        <li>
            Can be used to run doc tests and unit tests.
        </li>
        <li>
            Gives useful failuråe information without the use of debuggers.
        </li>
        <li>
            Can be written as a function or method.
        </li>
        <li>
            Has useful plugins.
        </li>
        <h5 class="mt-3">Advantages Of pytest</h5>
        <li>
            It is open-source.
        </li>
        <li>
            It can skip tests and automatically detect the tests.
        </li>
        <li>
            Tests are run parallel.
        </li>
        <li>
            Specific tests and subsets of tests can be run from the program.
        </li>
        <li>
            It is easy to start with as it has a very easy syntax.
        </li>


        <h4 class="neonblue mt-3"><u>What is Pylint?</u></h4>️ ️
        <p class="fs-20"><span class="fs-4">P</span>ylint is a tool that checks for errors in Python code, tries to enforce a coding standard and looks for code
        smells. It can also look for certain type errors, it can recommend suggestions about how particular blocks can
        be refactored and can offer you details about the code's complexity.</p>


        <div class="container">
            <p class="fs-14">Resources:
            <ul class="fs-14">
            <li>
                    <a href="https://www.softwaretestinghelp.com/pytest-tutorial/#:~:text=Python%20offers%20three%20types%20of%20testing%3A%201%20Unittest%3A,it%20easy%20to%20write%20test%20cases%20in%20Python.
"
                       class="card-link darkgrey" target="_blank">Pytest</a>
                </li>
            <li>
                    <a href="https://pylint.pycqa.org/en/latest/"
                       class="card-link darkgrey" target="_blank">Pylint</a>
                </li>
            <li>
                    <a href="https://www.tutorialspoint.com/class-or-static-variables-in-python"
                       class="card-link darkgrey" target="_blank">Static Property</a>
                </li>
            <li>
                    <a href="https://www.tutorialspoint.com/class-or-static-variables-in-python"
                       class="card-link darkgrey" target="_blank">Static Property</a>
                </li>
        </div>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

{% endblock %}