{% extends "base.html" %}
{% block content %}

    <h2 class="align-center">Tests used in Python</h2>
    <div class="container-fluid py-3"><h4><u>Pytest</u></h4>️ ️
        <p class="fs-5"><span class="fs-3">P</span>ytest is the framework that makes it easy to write, test, and scale
            to support complex testing for the applications and libraries. It is the most popular Python package for
            testing. The basis for a rich ecosystem of testing is plugins and extensions.

            The way pytest is designed is as a very extensible system, easy to write plugins and there are a lot of
            plugins present in the pytest that are used for various purposes. Testing is very important before
            delivering the code in production.</p>
        <h5>Features Of pytest</h5>
        <li>
            Does not require API to use.
        </li>
        <li>
            Can be used to run doc tests and unit tests.
        </li>
        <li>
            Gives useful failuråe information without the use of debuggers.
        </li>
        <li>
            Can be written as a function or method.
        </li>
        <li>
            Has useful plugins.
        </li>
        <h5 class="mt-3">Advantages Of pytest</h5>
        <li>
            It is open-source.
        </li>
        <li>
            It can skip tests and automatically detect the tests.
        </li>
        <li>
            Tests are run parallel.
        </li>
        <li>
            Specific tests and subsets of tests can be run from the program.
        </li>
        <li>
            It is easy to start with as it has a very easy syntax.
        </li>




   <div class="container">
        <p style="font-size: small">Resources:
        <ul style="font-size: small">
        <li>
            https://www.softwaretestinghelp.com/pytest-tutorial/#:~:text=Python%20offers%20three%20types%20of%20testing%3A%201%20Unittest%3A,it%20easy%20to%20write%20test%20cases%20in%20Python.
        </li>
        <li></li>
    </div>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

{% endblock %}